<div><h1><%= name%> <label>API</label></h1>
<div id='shortcuts'><%= get_quicklinks()%></div>
<%if(this.author){%>
    <div class='author'>Author: <b><%= steal.Doc.link(this.author) %></b></div>
<%}%>
<%if(this.inherits){%>
    <div class='inherits'>Inherits: <b><%= steal.Doc.link(this.inherits) %></b></div>
<%}%>
<%if(this.alias){%>
    <div class='alias'>Aliased as: <b><%= this.alias %></b></div>
<%}%>
<div class='group'><%= steal.Doc.link_content(this.real_comment) %></div>
<h2>Constructor</h2>
<div class='method'>
     <h3 id="<%= this.full_name()%>"><%= (this.alias ? this.alias : this.name) %></h3>
         <pre class='signiture'><code><%= this.signiture()%><code></pre>
                <p><%= steal.Doc.link_content( this.init_description ) %></p>
 <% var ordered = this.ordered_params() 
  	for(var n = 0; n < ordered.length; n++){   
       var param = ordered[n]; %>  
      <div class='param <%= param.optional ? "optional" : ""%>'>
          <label><%= param.name%></label>
          <code>{<%=(param.optional ? '' : '') +""+steal.Doc.link(param.type) %>}</code> - <%= param.description %>
      </div>
  <% } %>
</div> 
    <%= this.make(this.children)%>
</div>